.headerContainer{
  width: 100vw;
  height: 20vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #ff1d00;
}

h1, .info {
  font-family:fantasy
}
